*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* background-color:rgb(255,245,238);
    background-size: cover; */
    background-image: url(/Website-ban-hang/img/bg-01.jpg);
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.forgetPassword-form{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items:  center;
    border-radius: 10px;
    padding: 60px;
    width: 500px;
}

.forgetPassword-form form{
    margin-top: 30px;
    width: 100%;
}

.forgetPassword input{
    color: #333333;
    border: none;
    border-bottom: 1px solid #333333;
    padding: 10px 0;
    padding-left: 5px;
}

.forgetPassword span{
    font-family: Poppins-Regular;
    font-size: 22px;
    padding-left: 5px;
}

.forgetPassword-form form .col{
    display: flex;
    flex-direction: column;
}
p {
    margin-bottom:1rem ;
    display:block;
}
.forgetPassword-btn
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 60px;
    padding: 0 20px;
   
}

.form-btn
{
    display: block;
    position: relative;
    background: -webkit-linear-gradient(left, #00dbde, #fc00ff);
    z-index: 1;
    border-radius: 2px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 5px 30px 0px rgb(3 216 222 / 20%);
    margin-top: 50px;
    justify-content: space-between;
    width: 6rem;
    border-radius: 0.2rem;
    border: 1.5px solid black;
}
button {
    border-radius: 0.5rem;
    /* background-color: rgba(0,0,0,0); */
    border:#fc00ff;
    margin: 0 auto;
    width:90px;
    height:35px;
    font-size:16px;
    align-items: center;
    background: -webkit-linear-gradient(left, #00dbde, #fc00ff);

}
a {
    font-family: Poppins-Regular;
    font-size: 20px;
    line-height: 1.7;
    color:#fff;
    margin:auto;
    text-decoration: none;
    text-align:center;
}
.forgetPassword:hover{
    color:black;
}
