*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #231f20;
    text-align: left;
    background-color: #fff;
}
a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
    transition: all .2s;
}

/* Header */

.header{
    background-color: #fff;
    border-bottom: 1px solid #d9d9d9;
    transition: all .3s;
    position: relative;
}

.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

.header-inner:hover{
    background-color: #F9F86C;
    transition: all 0.5s;
}

.header-inner .header-logo{
    height: 36px;
}

.header-inner .header-logo img{
    width: auto;
    height: 100%;
}

.header-inner .nav{
    display: flex;
}


.nav{
    list-style-type: disc;
  
}

.nav .nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 30px 30px;
    height: 30px;
}


.nav .nav-item>a{
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: .03em;
    text-transform: capitalize;
    padding: 0;
    white-space: nowrap;
}

.nav>li>a:hover{
    color: #8C8E8D;
}

.mega-menu-container
{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-width: 100%;
    transition: all .2s;
    z-index: 10;
    background-color: #fff;
    display: none;
}


.mega-menu-inner{
    display: flex;
    margin: 10px 240px;
    height: 100%;
}

.mega-menu-title{
    display: block;
    color: #8e8e8e;
    margin-bottom: 20px;
    font-weight: 700;
}

.mega-menu-item{
    flex: 1;
    padding: 0 15px;
    font-weight: 500;
    font-size: 13px;
    line-height: 200%;
    letter-spacing: .03em;
    color: #000;
}

.mega-menu-item ul{
    padding: 0;
    margin: 0;
}

.mega-menu-item ul li{
    list-style: none;
    margin: 0;
}

.mega-menu-item ul li a{
    font-weight: bold;
}

.mega-menu-item ul li span{
    display: block;
    font-size: 80%;
    margin-top: -4%;
    font-weight: 600;
    width: 100%;
}

.nav .mega-menu:hover .mega-menu-container{
    display: block;
    transition: all .5s;
}

.nav .mega-menu:hover body{
    opacity: 0.5;
}

.menu-row{
    display: flex;
    min-width: 300px;
}


.menu-column{
    width: 50%;
    display: flex;
    flex-direction: column;
}




.header-actions{
    display: flex;
}

.header-action{
   margin-left: 20px;
   cursor: pointer;
}

/* Slider */
.carousel-indicators{
    right: 0;
    top: 0;
    left: 0;
}

.carousel-indicators [data-bs-target]{
    width: 600px;
    background-color: #fff !important;
}

.carousel-indicators .active{
    background-color: #000 !important;
}

.carousel-item::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25%;
    background-image: linear-gradient(transparent,rgba(0,0,0,.4666666666666667));
    pointer-events: none;
}

.carousel-control-prev:hover .fa-circle-arrow-right,
.carousel-control-next:hover .fa-circle-arrow-left{
    opacity: 1;
    background-color: transparent;
}

.fa-circle-arrow-right ,.fa-circle-arrow-left{
    font-size: 38px;
    cursor: pointer;
    background-color: #000;
    color: #ffffff;
    padding: 8px;
    transition: all .3s;
    border-radius: 100%;
    opacity: 0.7;
}

.header-menu.hide{
    display: none;
}


/* products */

.products
{
    position: relative;
}
.hometab-header{
    display: flex;
    justify-content: center;
    margin-top: 22px;
    margin-bottom: 8px;
}

.hometab-item{
    position: relative;
    width: 150px;
    padding-bottom: 15px;
    text-align: center;
    color: #8e8e8e;
    letter-spacing: .03em;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    border-bottom: 1px solid #8e8e8e;
    cursor: pointer;
}

.hometab-item.is-active{
    position: relative;
    width: 150px;
    padding-bottom: 15px;
    text-align: center;
    color: #8e8e8e;
    letter-spacing: .03em;
    font-size: 14px;
    line-height: 18px;
    color: #000;
    border-bottom: 3px solid #000;
    font-weight: 600;
    transition: ease 0.3s;
}


.product-thumbnail img{
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.color-option
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.color-option-item    
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    cursor: pointer;
}

.color-option-item.is-current{
    border: 1px solid #000;
    border-radius: 16px;
}

.color-option .color-option-item .checkmark{
    display: block;
    width: 35px;
    height: 20px;
    border-radius: 16px;
}

.product-title{
    margin-top: 10px;
}

.product-title a{
    font-size: 14px;
    line-height: 1.2em;
    font-weight: 600;
    margin-bottom: 3px;
}

.product-price{
    display: flex;
    justify-content: flex-end;
    flex-flow: row-reverse;
    font-size: 14px;
    font-weight: 400;
}

.product-hint{
    display: inline-flex;
    flex-flow: column;
}

.product-hint .hint-box{
    display: inline-block;
    border: 1px solid #2f5acf;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 4px 14px;
}

.product-hint .hint-box .hint-text{
    color: #2f5acf;
}



/* Excool Card */
.card-container{
    margin: 0 64px;
}

#homepage-excool .card-content{
    position: relative;
    display: flex;
    border-radius: 50px;
    background-color: #006CBC;
}

#homepage-excool .card-info{
    padding: 60px;
    width: 50%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-info .card-title{
    font-size: 4em;
}

.card-info .card-description{
    font-weight: 500;
}

.card-info .card-about-btn a{
    color: #000;
    background-color: #fff;
    padding: 10px 30px;
    border-radius: 16px;
}

#homepage-excool .card-image{
    width: 50%;
    height: 550px;
    background-color: #fff;
    border-radius: 50px;
    background-image: url('/img/ao_\(1\)_1_\(1\)_\(1\).jpg');
    background-size: cover;
}


/* Demin card */

#homepage-demin .card-content{
    display: flex;
    border-radius: 50px;
    background-image: url('/img/mceclip1_68.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px;
}

#homepage-demin .card-info{
    padding-left: 60px;
    width: 50%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#homepage-demin .card-image{
    width: 50%;
    height: 500px;
    background-color: #fff;
    border-radius: 50px;
    background-image: url('/img/mceclip2_11.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}


/* Coolclub Section */

#coolclub{
    margin: 0 64px;
}

.coolclub-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.wrapper-content{
    display: flex;
}

.coolclub-content .coolclub-heading{
    font-size: 96px;
}

.coolclub-box{
    width: 256px;
    height: 348px;
    background-repeat: no-repeat;
    background-size: cover;
}

#coolclub .coolclub-about-btn{
    background-color: #f9f86c;
    color: #000;
    border: 2px solid #f9f86c;
    padding: 10px 25px;
    border-radius: 16px;
}

#coolclub .coolclub-about-btn:hover{
    background-color: #8e8e8e;
    border: 2px solid #8e8e8e;
    transition: all ease 0.3s;
    cursor: pointer;
}

#coolclub .coolclub-about-btn a:hover{
    color: #000;
}


/* Homepage-more */

#homepage-more{
    margin-top: 60px;
}

#homepage-more .card-container{
    margin: 0 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#homepage-more .card-container .card-thumbnail{
    width: 98%;
}

#homepage-more .card-container .card-thumbnail img{
    max-width: 100%;
    max-height: 100%;
    height: auto;
}


/* Footer */

#footer{
    background-color: #000;
    color: #fff;
    padding: 30px 0;
    font-size: 13px;
    line-height: 160%;
    color: #d9d9d9;
    margin-top: 30px;
}

.footer-container{
    padding-left: 64px;
    padding-right: 64px;
}

.footer-inner{
    display: flex;
    padding-bottom: 35px;
}

.footer-menu-site{
    flex: 1;
    padding-right: 130px;
}

.footer-menu{
    display: flex;
    justify-content: space-between;
}

.footer-menu-item{
    flex: 1;
    font-size: 13px;
    line-height: 200%;
    color: #d9d9d9;
    max-width: 160px;
}

.footer-menu-title{
    position: relative;
    color: #fff;
    font-weight: 600;
    font-size: 13px;
    line-height: 200%;
    margin-bottom: 15px;
}

.footer-menu ul{
    margin: 0;
    padding: 0;
}

.footer-menu ul li{
    list-style: none;
    margin-top: 10px;
}

.footer-menu ul li a:hover{
    color: #F9F86C;
}

.footer-sidebar{
    width: 30%;
    max-width: 275px;
}

.footer-sidebar-title{
    font-weight: 600;
    font-size: 21px;
    line-height: 27px;
    color: #fff;
    margin-bottom: 6px;
}

.footer-description{
    width: 100%;
    margin-top: 6px;
    margin-bottom: 33px;
}

.footer-btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 43px;
    background: #2f5acf;
    border-radius: 16px;
    padding: 0 30px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .03em;
    margin-bottom: 25px;
    border: 0;
}

.footer-btn:hover{
    background: #fff;
    color: #000;
    transition: all .2s;
}



/* Responsive */
@media only screen and (max-width: 1280px){
    .mega-menu-inner{
        margin: 0 48px;
    }
}


@media only screen and (max-width: 1080px) and (min-width: 861px){
    body{
        overflow-x: hidden;
    }
    /* Header */
    .nav .nav-item{
        padding: 20px 10px;
    }

    /* Product */
    .product-wrapper .container{
        max-width: 780px;
    }

    /* Excool card */

    .card-container{
        margin: 0 32px;
    }

    .card-info{
        padding: 60px;
    }

    .card-info .card-title{
        font-size: 2.5em;
    }

    #homepage-excool .card-image{
        height: 350px;
    }

    /* Demin card */

    #homepage-demin .card-image{
        height: 350px;
    }

    .card-description p{
        font-size: 1em;
    }

    /* Coolclub Section */
    .coolclub-content .coolclub-heading{
        font-size: 48px;
    }

    .coolclub-box{
        width: 179.2px;
        height: 243.6px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    /* Homepage more */
    #homepage-more .card-container{
        margin: 0 32px;
    } 

    /* footer */

    footer{
        display: none;
    }
}

@media only screen and (max-width: 860px){
    .header-menu{
        display: none;
    }

    /* Product */
    .product-wrapper .container{
        max-width: 640px;
    }    
    
    /* Excool card */

    .card-info .card-about-btn a{
        color: #000;
        background-color: #fff;
        padding: 6px 20px;
        border-radius: 16px;
        font-size: 10px;
    }

    .card-container{
        margin: 0 16px;
    }

    .card-info{
        padding: 30px;
    }

    .card-info .card-title{
        font-size: 2em;
    }

    #homepage-excool .card-image{
        height: 280px;
    }

    /* Demin card */

    #homepage-demin .card-image{
        height: 240px;
    }

    .card-description p{
        font-size: 0.8em;
    }

    /* Coolclub Section */
    .coolclub-content .coolclub-heading{
        font-size: 48px;
    }

    .coolclub-box{
        width: 153.6px;
        height: 243.6px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #homepage-demin .card-content{
        padding: 30px;
    }

    
    /* Homepage more */
    #homepage-more .card-container{
        margin: 0 16px;
    } 

    footer{
        display: none;
    }
}

